<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front page</title>
</head>
<body>

  <!------JUMBOTRON------>

  <section>
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-4">PUUURFECT</h1>
        <h2 class="h3 mb-3">Des images qui vous feront ronronner de bonheur !</h2>
      </div>
    </div>
  </section>

  <!------INDEX------>

  <h3 class="cute_kittens text-center"> ❤️ Tous nos chatons trop trop mignons ❤️ </h3><br>


<div class="index-container justify-content-between">
    <div class="row">
          <% @items.each do |item| %>
        <div class="col-md-4">
            <div class="card border-primary mb-4" id="card-index">
                <div class="htcatthumb"><a href="<%= item_path(item.id) %>"><img src="<%= item.image_url %>" alt="product images"> </a> </div>
                <div class="frproductinner innerposition">
                    <h4><a href=""><%= item.title %></a></h4>
                    <br>
                    <ul class="frproprize ml-text">
                        <li class="oldprize">🐱 <%= item.price %>€</li>
                    </ul>
                </div>
            </div>
        </div>
          <% end %>
    </div>
</div>






</body>
</html>

